* { user-select: none; }

body,
#note-modal {
    overflow-y: scroll;
}

body::-webkit-scrollbar,
#note-modal::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb,
#note-modal::-webkit-scrollbar-thumb {
    background-color: #32D296;
}

body::-webkit-scrollbar-track,
#note-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #f9f9fd;
}

table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 8px;
    background: #d8d8d8;
    font-size: 17px;
}

table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

table tbody td {
    text-align: left;
    justify-content: center;
    border: none;
    padding: 10px 8px;
    font-size: 17px;
    vertical-align: top;
}

table tbody tr:nth-child(even){
    background: #f3f3f3;
}

table tbody tr:nth-child(odd) td:hover{
    background: #f3f3f3;
}

table tbody tr:nth-child(even) td:hover{
    background: #fff;
}

table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

table tbody tr td.datepicker-cell {
    width: 150px;
}

table tbody tr td.select-cell {
    width: 210px;
}

table tbody tr td.amount-cell {
    width: 140px;
}

.custom-input {
    border: none !important;
    background: none !important;
    text-overflow: ellipsis;
    margin: 0px !important;
    padding: 0px !important;
}

.custom-input.uk-select {
    padding-top: 1px !important;
    cursor: pointer;
}

.note {
    width: 330px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.actions {
    padding-top: 2px;
}
